.slides {
  display: none;
}

.slideshow-container {
  width: 90%;
  position: relative;
  float: right;
  margin-top: -100px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  max-width: 45%;
  float: left;
  padding-top: 5%;
  background-color: #FFFFFF;
  padding-left: 5%;
  height: 280px;
}

.text p {
  font-family: Arial;
  font-size: 15px;
  text-align: left;
  width: 75%;
}

.text h3 {
  font-family: Arial;
  font-size: 28px;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade .img-carousel {
  max-width: 50%;
  vertical-align: middle;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}